body {
      background-color:rgb(64, 196, 230);
        font-family: 'Arial', sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }
    
    .login-container, .time-management-container , .signup-container{
        text-align: center;
        padding: 20px;
    /*     border: 1px solid #ccc; */
      box-shadow: 1px 1px 17px 4px grey;
        border-radius: 8px;
        background-color:#00FF00;
        display: flex;
      flex-direction:column;
      background-color:rgb(80, 107, 228);
    /*     border: 1px solid black; */
    }
    
    button {
        padding: 10px;
        margin-top: 10px;
        cursor: pointer;
    }
    